body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Arial', sans-serif;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #333;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: #000000;
  color: #fff;
}

.personal-info {
  display: flex;
  align-items: center;
}

.personal-info img {
  border-radius: 50%;
  max-width: 30%;
  height: auto;
  margin-right: 20px;
}

.personal-info div {
  text-align: left;
}

.personal-info h1 {
  font-size: 3vw;
  color: #fff;
  margin-bottom: 5px;
}

.personal-info p {
  font-size: 2vw;
  color: #ecf0f1;
  margin: 0;
}
.section {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.left-section,
.right-section {
  width: 48%;
}

.title {
  font-size: 3vw;
  color: #000000;
  border-bottom: 2px solid #000000;
  padding-bottom: 1%;
  margin-bottom: 2%;
}

.content {
  font-size: 2vw;
  line-height: 1.6;
}

footer {
  text-align: center;
  padding: 5%;
  background-color: #000000;
  color: #fff;
}

footer a {
  color: #fff;
}